.card{
    background-color: rgb(40, 162, 179);
    width: 170px;
    height: 200px;
    margin: 20px;
    margin-left: 45%;
    font-size: 80px;
    padding-top: 20px;
    border-radius: 8px;
    font-family: 'Exo', sans-serif;
}
p{
    font-size: 20px;
    text-transform: capitalize;
    margin: 0%;
    font-family: 'Exo', sans-serif;
}
.points{
    margin-top: 5px;
    margin-left: 3px;
    border: 1px rgb(40, 162, 179) solid;
    border-radius: 8px;
    width: 200px;
    padding: 10px;
    position: absolute ;
    font-family: 'Lakki Reddy', cursive;
}
#helloUser{
    font-family: 'Exo', sans-serif;
    text-align: left; 
    padding: 10px;
    font-size: 20px;
    margin-top: 0%;
    margin-left: 3px;
    width: 300px;
    border: 1px rgb(40, 162, 179) solid;
    border-radius: 8px;
    margin-top: 5px;
}
#logOut{
    color: rgb(228, 178, 15);
    float: right;
}
#logOut:hover{
    font-weight: bold;
}
#pointsHeader{
    color: rgb(228, 178, 15);
    font-weight: bold;
    margin-bottom: 5px;

}
.icon{
    margin-left: 3px;
}
